
# utilisation d'Expires

# ExpiresActive On

# ExpiresDefault "access plus 3 minutes"

# ExpiresByType text/html "access plus 1 month"

# ExpiresByType text/css "access plus 1 month"

# ExpiresByType image/svg+xml "access plus 1 month"

# ExpiresByType image/webp "access plus 1 month"

# ExpiresByType font/woff2 "access plus 1 month"

# ExpiresByType font/ttf "access plus 1 month"

# utilisation des en-têtes Cache Control

<Files "*.html">
Header set Cache-Control "max-age=2592000, must-revalidate"
</Files>

<Files "*.css">
Header set Cache-Control "max-age=2592000, must-revalidate"
</Files>

<Files "*.svg">
Header set Cache-Control "max-age=2592000, must-revalidate"
</Files>

<Files "*.webp">
Header set Cache-Control "max-age=2592000, must-revalidate"
</Files>

<Files "*.woff2">
Header set Cache-Control "max-age=2592000, must-revalidate"
</Files>

<Files "*.ttf">
Header set Cache-Control "max-age=2592000, must-revalidate"
</Files>

AddOutputFilterByType DEFLATE text/html

AddOutputFilterByType DEFLATE text/css

AddOutputFilterByType DEFLATE image/svg+xml

AddOutputFilterByType DEFLATE image/webp

AddOutputFilterByType DEFLATE text/html

AddOutputFilterByType DEFLATE font/woff2

AddOutputFilterByType DEFLATE font/ttf